html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 넘침을 숨기기 */
}
body {
  cursor: url("/img/mouse_img.svg"), auto;
}
.container {
  width: 1920px;
  height: 1080px;
  margin: 0 auto; /* 화면 가운데 정렬 */
  overflow: auto; /* 넘칠 경우 스크롤 생성 */
  background-color: rgb(255, 255, 255); /* 예시 배경색 */
}

/*로고*/
.logo {
  position: absolute;

  width: 10%;
  height: 10%;
  top: 3%;
  right: 2%;
  z-index: 2;
}

/*배경 그라디언트*/

.bg_Gradient {
  width: 80%;
  height: 70%;
  opacity: 80%;
}
.flower-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1000; /* 벚꽃이 다른 요소 위에 나타나도록 */
}

/* 벚꽃 컨테이너 */
.flower-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* 마우스 이벤트 방지 */
  overflow: hidden;
}

/* 벚꽃 애니메이션 */
.flower {
  position: absolute;
  width: 90px; /* 꽃 크기 */
  height: 90px;
  background-image: url("/img/p_flower.svg");
  background-size: cover;
  animation: fall 40s linear infinite;
  opacity: 0.5;
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 0.7;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
/*편지관련요소*/

.message {
  width: 38%;
  height: 38%;

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
}

.message:hover {
  cursor: url("/img/mouse_over.svg"), auto;
}
.message_box {
  width: 20%;
  height: 6%;
  background-color: white;

  font-size: 2vh;
  font-family: "Gowun Batang", serif;

  border-radius: 10px 10px 0px 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); /* 기본 그림자 */
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  padding-top: 14px;
  color: #ff7c90;

  animation: sway 1.5s ease-in-out infinite;
}
@keyframes sway {
  0% {
    transform: translate(-50%, -50%) rotate(-1deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(1deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-1deg);
  }
}

.letter_img {
  width: 25%;
  height: 8%;

  position: absolute;
  top: 84%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}
.lyrics {
  font-size: 2vh;
  font-family: "Gowun Batang", serif;
  color: #ff7c90;
  letter-spacing: 10px;

  position: absolute;
  top: 84.9%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

/*배경요소*/

.line {
  position: absolute;

  width: 100%;
  height: 100%;
  opacity: 35%;
}
.line2 {
  position: absolute;

  width: 100%;
  height: 100%;
  opacity: 35%;

  top: 30%;
  left: 60%;
  transform: rotate(10deg);
}
.line3 {
  position: absolute;

  width: 60%;
  height: 60%;
  opacity: 50%;

  top: 0%;
  left: -20%;
}

.flower1 {
  position: absolute;
  width: 30%;
  height: 30%;
  opacity: 100%;
  top: 5%;
  z-index: 5;
}
.flower2 {
  position: absolute;

  width: 25%;

  opacity: 80%;
  right: -5%;

  z-index: 5;
}
.flower3 {
  position: absolute;

  width: 15%;

  opacity: 90%;

  right: 0%;
  top: 40%;

  z-index: 5;
}
.flower4 {
  position: absolute;

  width: 20%;

  opacity: 100%;

  left: 5%;
  bottom: 0%;

  z-index: 5;
}
.album_name {
  position: absolute;
  color: #ffe8fe;
  font-size: 8vh;
  font-family: "Song Myung", serif;

  left: 5%;
  top: 5.5%;

  z-index: 7;
}
.name {
  position: absolute;
  color: #e8a0ab;
  font-size: 1.8vh;
  font-family: "Gowun Batang", serif;

  left: 19%;
  top: 9.5%;

  z-index: 7;
}
.song_name_kr {
  position: absolute;
  width: 30%;
  height: 30%;
  left: -7%;
  bottom: 5%;

  z-index: 7;
}
.song_name_en {
  position: absolute;
  width: 30%;
  height: 30%;
  right: -7%;
  bottom: 5%;
}
